---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Tino Caer">
	<main class="container mx-auto py-8 px-5 lg:px-0">
		<h1 class="mt-5 mb-2.5 font-bold text-4xl text-gray-700">Tino Caer</h1>
		<section>
			<h2 class="mt-5 mb-1.5 font-bold text-3xl text-gray-700">About</h2>
			<p class="text-base text-gray-700">
				I am a Codepoint Fellow at Sutter Hill Ventures participating in two six-month rotations at Sigma Computing and Luminary Cloud as a Software Engineer. Currently, I am working at Sigma. I graduated from the University of Illinois at Urbana-Champaign in 2023. My interests are primarily focused on low-level, performant systems based around distributed systems.
				<br><br>At Sigma, I am currently working under the enterprise organization which covers administration, APIs, data governance, and embeds. My work revolves mostly around data governance: implementing new features enabling administrators to assign more granular permissions for data access for employees. I also work with OAuth, enabling permissions defined in customer data warehouses, like Snowflake, to automatically be applied within Sigma. 
				<br><br>At Luminary, my work will revolve around reducing the computational time and cost required for performing Computational Fluid Dynamics (CFD) simulations.
			</p>
		</section>
		<section>
			<h2 class="mt-5 mb-1.5 font-bold text-3xl text-gray-700">Experience</h2>
			<div class="grid lg:grid-cols-2 auto-rows-auto gap-4">
				<div>
					<h3 class="font-bold text-2xl text-gray-600">Sigma Computing</h3>
					<em class="text-sm text-gray-500">Software Engineer — August, 2023 - Current</em>
				</div>
				<div>
					<h3 class="font-bold text-2xl text-gray-600">Microsoft</h3>
					<em class="text-sm text-gray-500">Software Engineer Intern — Summer, 2022</em>
				</div>
				<div>
					<h3 class="font-bold text-2xl text-gray-600">Amazon</h3>
					<em class="text-sm text-gray-500">Software Development Engineer Intern — Summer, 2021</em>
				</div>
			</div>
		</section>
		<section>
			<h2 class="mt-5 mb-1.5 font-bold text-3xl text-gray-700">Contact</h2>
			<p class="text-base text-gray-700">
				Feel free to reach out to me via email: <a class="underline" href="mail:tino.caer@me.com">tino.caer@me.com</a>. I am also on <a class="underline" href="https://www.linkedin.com/in/tinocaer/">LinkedIn</a> and <a class="underline" href="href="https://github.com/tcaer">Github</a>.
			</p>
		</section>
	</main>
</Layout>
