---
interface Props {
  title: string;
}

const { title } = Astro.props;
---
<section>
  <h2 class="mt-5 mb-1.5 font-bold text-3xl text-gray-700">{title}</h2>
  <p class="text-base text-gray-700">
    <slot />
  </p>
</section>
