--- 
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = 'Software engineer at Sigma Computing building interactive workflow systems.',
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>{title}</title>
    <script>
      import posthog from 'posthog-js';
      posthog.init('phc_AiQdWoSDtPgWctKNvnm9plvj3X0On15mYGPC2n8ybI9',
        {
          api_host: 'https://us.i.posthog.com',
          person_profiles: 'identified_only'
        }
      )
    </script>
    <ClientRouter />
	</head>
	<body>
    <main class="page-shell">
      <slot />
    </main>
	</body>
</html>
