--- 
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="SWE @ Sigma | Codepoint Fellow @ Sutter Hill Ventures">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>{title}</title>
    <script>
      import posthog from 'posthog-js';
      posthog.init('phc_AiQdWoSDtPgWctKNvnm9plvj3X0On15mYGPC2n8ybI9',
        {
          api_host: 'https://us.i.posthog.com',
          person_profiles: 'identified_only'
        }
      )
    </script>
    <ViewTransitions />
	</head>
	<body>
    <main class="container mx-auto py-8 px-5 lg:px-0">
      <h1 class="mt-5 mb-2.5 font-bold text-4xl text-gray-700">Tino Caer</h1>
      <slot />
    </main>
	</body>
</html>
<style is:global>
	body {
		background-color: #fbf7f0;
		min-height: 100%;
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	}
</style>
