--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="SWE @ Sigma | Codepoint Fellow @ Sutter Hill Ventures">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	body {
		background-color: #fbf7f0;
		min-height: 100%;
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	}
</style>
